.carousel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    display: inline-flex;
    font-size: 50px;
}

.thumbnails {
    display: flex;
    gap: 20px;
}