@import "bootstrap/scss/bootstrap";

body {
    background-color: #333333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #808080;
}

::-webkit-scrollbar-thumb {
    background: black;
}

#login {
    height: calc(100vh - 60px);

    .card {
        box-shadow: 3px 20px 62px -25px #000;
    }
}

#register {
    height: calc(100vh - 60px);

    .card {
        box-shadow: 3px 20px 62px -25px #000;
    }
}

.search-bar {
    width: 400px;
}

#jumbotron {
    height: 600px;
    background-image: url('./assets//images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: saturate(0.5) brightness(0.9);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-size: 60px;
    }
}

table {
    box-shadow: 3px 20px 62px -25px #000;

    tr {
        vertical-align: middle;
    }
}

.badge-cat {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.accordion-item {

    .accordion-button {
        &:focus {
            box-shadow: none;
        }

        &:not(.collapsed) {
            background-color: whitesmoke;
        }

        &:after {
            font-weight: 900;
            transform: rotate(180deg);
            transition: transform 0.3s;
        }

        &.collapsed:after {
            transform: rotate(0deg);
        }
    }

    .accordion-collapse {
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .accordion-body {
        background-color: whitesmoke;
        color: black;
        padding: 1rem;
    }
}