@import "bootstrap/scss/bootstrap";

body {
    background-color: #333333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    overflow-y: auto;
}

footer {
    margin-top: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #808080;
}

::-webkit-scrollbar-thumb {
    background: black;
}

#login {
    height: calc(100vh - 110px);

    .card {
        box-shadow: 3px 20px 62px -25px #000;
    }
}

#register {
    height: calc(100vh - 110px);

    .card {
        box-shadow: 3px 20px 62px -25px #000;
    }
}

.search-bar {
    width: 400px;
}

#create-photo-form,
#edit-photo-form,
#create-category-form {
    margin-top: 130px;
}

#jumbotron {
    position: relative;
    height: 700px;
    background-image: url('./assets/images/jumbotron.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.home-title {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: darkgoldenrod;
    z-index: 1;
}

table {
    box-shadow: 3px 20px 62px -25px #000;

    tr {
        vertical-align: middle;
    }
}

.badge-cat {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.accordion {
    box-shadow: 3px 20px 62px -25px #000;

    .accordion-item {

        .accordion-button {
            &:focus {
                box-shadow: none;
            }

            &:not(.collapsed) {
                background-color: whitesmoke;
            }

            &:after {
                font-weight: 900;
                transform: rotate(180deg);
                transition: transform 0.3s;
            }

            &.collapsed:after {
                transform: rotate(0deg);
            }
        }

        .accordion-collapse {
            overflow: hidden;
            transition: height 0.3s ease;
        }

        .accordion-body {
            background-color: whitesmoke;
            color: black;
            padding: 1rem;
        }
    }
}

.color-btn {
    background-color: goldenrod;

    &:hover {
        background-color: darkgoldenrod;
    }
}

.color-title {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: darkgoldenrod;
    font-weight: 600;
}

#carousel {
    padding: 100px 0;
    background-color: lightgray;
}

#form-contact {
    padding: 100px 0;
}